body {
    background: linear-gradient(to right, rgb(20, 35, 15) 0%, black 50%, rgb(0, 0, 0) 100%);
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

span {
    color: green;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: black;
}

.company-name {
    margin-left: 20px;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/* Hover state with the animation */
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.contact-button {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

main {
    padding: 20px;
}
.copyright{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    margin-top: 1000px;
}
.privacy{
    float: right;
    color: white;
}